<h1>When Dumb Friends Talk</h1>
<p>Do your retarded friends say stupid shit all the time? We'd love to hear about it!

Welcome to When Dumb Friends Talk. Read submissions or make one of your own!</p>

<%= render :partial => "quotes"%>
