<header>
    <nav>
      <ul>
        <li class="round"><%= link_to "Home", root_path %></li>
        <li class="round"><%= link_to "Submit", new_path %></li>
        <li class="round"><%= link_to "About", '#' %></li>
      </ul>
    </nav>
  </header>
